<script type="text/javascript">
	function signin(){
		alert("HHH");
	}
</script>	

<div class="topBar">
	Here is our logo
	<div class="sign">
		<%= link_to 'signin', "signin" %> |
		<%= link_to 'signup', new_user_path %>
	</div>
</div>
<div class="others">
<h1>This is our front page</h1>
<p>Try to add some links ...</p>
<%= cookies[:riskfit_token] %>
</div>