<section id="hero" class="hero">

    <div class="container">
        <div class="row-fluid">
            <div class="span8 offset2 text-center inner">
                <h1>Hitter</h1>
                <h2 class="animated fadeInUp delay-05s">Hit service & helper<hr></h2>
            </div>
        </div>
        <div class="row">
            <div class="span6 offset3 text-center animated fadeInUp delay-15s">
                <a class="learn-more-btn" href="#">JOIN US</a>
            </div>
        </div>
    </div>

</section>




<div class="row-fluid no-margin main_index">


      <div class="span4 wp4 no-margin animated fadeInDown">

      <div class="index_home no-margin overlay-effect effects">
        <div class="img">
            <img alt="Activity" src="/assets/outservice/restaurant/alps.jpg"></img>
            <div class="overlay">
                <a class="expand" href="#">
                    <span>Activity</span>
                    <hr>
                </a>
            </div>
        </div>
      </div>

      </div>


        <div class="span4 wp4 delay-05s no-margin animated fadeInDown"> 

        <div class="index_home no-margin overlay-effect effects">
        <div class="img">
            <img alt="Activity" src="/assets/outservice/restaurant/alps.jpg"></img>
            <div class="overlay">
                <a class="expand" href="#">
                    <span>Service</span>
                    <hr>
                </a>

            </div>
        </div>
      </div>

        </div>
        <div class="span4 wp4 delay-1s no-margin animated fadeInDown">
        <div class="index_home no-margin overlay-effect effects clearfix">
        <div class="img">
            <img alt="Activity" src="/assets/outservice/restaurant/alps.jpg"></img>
            <div class="overlay">
                <a class="expand" href="#">
                    <span>Map</span>
                    <hr>
                </a>
            </div>
        </div>
      </div>
        </div>

</div>




