<div class="admin_middle">
<h2>Service Management</h2>
<br>
<table>
	<tr>
		<th>Service Kind</th>
		<th>Name</th>
		<th>Star</th>
		<th></th>
	</tr>
	<% @services.each do|s|%>
	<tr>
		<th><%= s.service_kind%></th>
		<th><%= s.name%></th>
		<th><%= s.star%></th>
		<th><%= link_to 'Destroy', delete_outservice_path(s.service_kind,s.name),method: :delete, data: {confirm: "Are you sure?"}%>
	</tr>
	<% end %>
</table>
</div>