<html> 
<head>
<title>HIT map</title>
<style type="text/css"> 
#window {
	width:1366px;
	height:657px;
	border: 0px solid #ccc;
	background-image: url('assets/map/0.jpg');
	background-repeat: no-repeat;
	cursor: move;
}

</style>

<script type="text/javascript"> 
<!--
var p = new Array();
var speed = 0.03; 
var picWidth=2567;
var picHeight=1613;
var x,y; 
var x_new,y_new;
var haveclick = false;
 
function getmouseposition(event)
{
	if(document.all)
	{
		x = document.body.scrollLeft+event.clientX;
		y = document.body.scrollTop+event.clientY;
	}else
	{
		x = event.layerX;
		y = event.layerY;
	}	
	haveclick = true;
}
function movestop()
{
	haveclick = false;
}
 
function movestart(event)
{
if(haveclick)
{
	if(document.getElementById("window").style.backgroundPosition.length==0)
		{document.getElementById("window").style.backgroundPosition="0px 0px";}
	p = document.getElementById("window").style.backgroundPosition.split(" ")
 
	if(document.all)
	{	
		x_new = document.body.scrollLeft+event.clientX;
		y_new = document.body.scrollTop+event.clientY;
	}else
	{	 
		x_new = event.layerX;
		y_new = event.layerY;	
	}
	
	x2 = (speed*(x_new-x)+parseInt(p[0])).toString(10); 
	y2 = (speed*(y_new-y)+parseInt(p[1])).toString(10);
	
	if (x2<800-picWidth) x2=800-picWidth;
	if (y2>0) y2=0;
	if (x2>0) x2=0;
	if (y2<800-picHeight) y2=800-picHeight;
 	document.getElementById("window").style.backgroundPosition=x2+"px "+y2+"px";
}
}
-->
</script>
</head>
 
<body>

<div id="window" onmousedown="getmouseposition(event)" onmousemove="movestart(event)" 
                 onmouseup="movestop()" onmouseout="movestop()" > </div>
</body>
</html>
