// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.activities {
	position:relative;
	width : 650px;
	height:150px;
	border : 1px solid;
	margin-top : 10px ;
	left: 200px;
}
.time{
	position:absolute;
	right:0px;
}