// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/

.overlay-effect .overlay {
  	
}

.img_front{
	position: relative;
}

.overlay {
	bottom: 0px;
left: 0px;
right: 0px;
	z-index: 110;
    border:solid 10px red;
    width: 100px;
    height: 100px;
    opacity: 1;
    position: absolute;
}


a.expand {
	max-width: 100px;
    display: block;
    position: absolute;
    z-index: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
}

a {
    background: none repeat scroll 0px 0px transparent;
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
    visibility: visible;
}

.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}