// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
.delay-05s {
    animation-delay: 0.5s;
}
.delay-1s {
    animation-delay: 1s;
}
.delay-15s {
    animation-delay: 1.5s;
}
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    visibility: hidden;
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
    visibility: visible;
}


.hero .learn-more-btn:hover, .hero .learn-more-btn:focus {
    opacity: 1;
    border-color: rgb(0, 147, 203);
    color: grey;
}

.learn-more-btn:hover, .learn-more-btn:focus {
    color: rgb(0, 147, 203);
}

.hero .learn-more-btn {
    border: 1px solid grey;
    padding: 20px 40px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
}

.hero a:hover, .hero a:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.learn-more-btn {
    border-bottom: 2px solid rgb(0, 147, 203);
    padding: 15px 0px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 60px 0px 0px;
    font-size: 16px;
}

.inner {
    padding-top: 100px;
}
.hero {
    padding: 0px 0px 320px;
    height: auto;
}
.hero h2 {
    font-size: 15px;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
	letter-spacing: 3px;
	margin-right: auto;
	margin-left: auto;
	margin: 0px auto;
}

.hero h1 {
    font-size: 42px;
    margin: 10px;

    font-size: 36px;
    line-height: 1.2em;
    font-weight: 600;
    font-family: 'Raleway';
    letter-spacing: 25px;
    text-transform: uppercase;
}

.main_index {
    text-align: center;
    padding: 0px;
}

.effects .img:last-child {
    margin-right: 0px;
}

.main_index .effects .img {
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.main_index .img img {
    width: calc(100% + 40px) !important;
    transition: opacity 0.35s ease 0s, -moz-transform 0.35s ease 0s;
    transform: translate3d(-40px, 0px, 0px);
}

.main_index .no-margin, .hero .no-margin {
    padding: 0px !important;
    margin: 0px;
}

.main_index .reg {
    position: relative;
    height: 50%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.main_index img{
	vertical-align: middle;
	max-width: none !important;
	border: 0px none;
	margin: 0px !important;
	padding: 0px;
	display: block;
	height: auto;
}

.index_home .overlay {
	bottom: 0px;
	left: 0px;
	right: 0px;

	opacity: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
    display: block;
    position: absolute;
    z-index: 20;
    background: none repeat scroll 0% 0% rgba(100, 100, 100, 0.8) !important;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    font-family: 'Raleway';
    letter-spacing: 1px;
    font-weight: normal !important;
}

.index_home:hover .overlay{
	display:block;
	opacity:1;
	filter: alpha(opacity=1); 
}

.main_index a:hover{
	color: white;
}
.main_index a{
	text-decoration: none;
}

.main_index a.expand {
	left: 0px;
    right: 0px;
    bottom: 47%;
    margin: 0px auto;
    width: 200px;
    display: block;
    position: absolute;
    z-index: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600 !important;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
}

.main_index a:hover{
	text-decoration:none;
	color:white !important;
}

.main_index hr{
	width:50px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.hero hr{
	border: grey solid 1px;
	width:50px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
