// Place all the styles related to the outservices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#feature.wrapper{
	max-width: 640px;
	padding-right: 23em;
	position: relative;
	padding-left: 1em;
}