// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_remember_me, label[for=user_remember_me]{
	display:inline-table;
	margin:0 auto;
}
form#new_user{
	margin-bottom:0px;
}

.info_table{
	margin-top: 20px;
	max-width:90%; 
	border-right:0;
}

.info_table th,.info_table td{
	border-top: 1px solid white;
	border-left: 0;
	border-right: 0;
	font-family: Helvetica,Arial,sans-serif !important;
	font-size: 18px !important;
	padding: 15px;
	max-width: 45%;
}
.userinfo{
	font-size: 16px;
}

.exp_bar{
	max-width: 85%;
}

.userSideBar{
	left: 10px;
	overflow: hidden;
	float: left;
	width: 200px;
	height:100%;
	margin: 10px 10px 10px 10px;

}
.userSideBar h4{
	text-align:left;
}
.userSideBar ul li{
	margin: 10px 10px 10px 10px;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
}

.userContent{
	margin-left: 220px;
}
.userindex_act, .userindex_fp{
	display:block;
	background-color:rgba(255,255,255,0.5);
	
}
.userindex_actcontent, .userindex_fpcontent{
	background-color:rgba(0,0,0,0.1);
	padding: 3px;
	display:inline-table;
	float:none;
	margin-top:10px;
	margin-bottom:10px;
}
.userindex_actcom, .userindex_fpcom{
	width:80%;
	display:table;
	float:none;
	margin:0 auto;
}
.userinfo{
	display:block;
	background-color:rgba(255,255,255,0.5);

}
.useredit_form{
	background-color:rgba(255,255,255,0.5);
	padding:30px 0 30px 0;
}
.useredit_pwds, .useredit_info{
	display:inline-table;
	float:none;
}
.useredit_cancel{
	width:100%;
	background-color:rgba(255,255,255,0.5);
	display:table;
	float:none;
	margin:0 auto;
}
.useredit_info .field, .useredit_pwds .field, .useredit_submit{
	display:table;
	float:none;
	margin:0 auto;
}
.useredit_cancel{
	text-align:center;
}
.useredit_form input, .useredit_cancel input{
	font-size:17px;
}
#cmncontainer{
	float:none;
	display:table;
	margin: 0 auto;
	margin-top:50px;
	width:80%;
	height:500px;

}
#ucmncontainer{
	display:none;
}
#imgcontainer{
	float:none;
	display:table;
	margin: 0 auto;
	width:70%;
}
#formcontainer{
	position:absolute;
	width:80%;
	margin-left:10%;
	top:70px;
}
#formcontainer input{
	width:60%;
	margin-left:20px;
}
#tipcontainer{
	position:absolute;
	width:70%;
	margin-left:15%;
	top:70px;
	height:500px;
}
#signincontainer{
	margin:0px auto;
	display:table;
	width:30%;
}
#signinleft{
	float:left;
	width: 150px;
}
#signinright{float:right;}
h2{
	margin:0px auto;
	display:table;
}
.reg{
	position:relative;
	height:50%;
	width:48%;
	margin-top: 30px;
	margin-bottom:30px;
	text-align:center;
	overflow:hidden;
}
#imgori{
	margin-top: 0px;
	margin-bottom:0px;
}
.reg .overlay{
	opacity:0;
	position:absolute;
	margin: 0 auto;
	background:rgba(255, 255, 255, 0) !important;
	height:100%;width:100%;
	text-align:center;
	vertical-align:middle;
	/* CSS3 Transition Magic */
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.reg:hover .overlay{
	display:block;
	opacity:1;
	filter: alpha(opacity=1); 
}
.reg img{
	postion:absolute;
	top:70px;
	margin: 0 auto;
}
.overlay a{
	position:relative;
	font-size:24px;
	top:35%;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.tip a{
	position:relative;
	font-size:24px;
	top:100px;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.overlay a:hover,.tip a:hover{
	text-decoration:none;
	color:green;
}

.regright{float:right;}
.regleft{float:left;}
.formright,.tipright{right:0px;}
.formleft,.tipleft{left:0px;}
#officialtip,#servicetip{top:0px;}
#clubtip,#commontip{bottom:0px;}

.regform{
	display:none;
	position:absolute;
	width:50%;
	height:100%;
}
.regoriform{
	float:right;
	width:50%;
	height:100%;
}
.tip{
	display:none;
	position:absolute;
	width:50%;
	height:200px;
	margin-top:30px;
	margin-bottom:30px;
	font-size:17px;
	text-align:center;
	vertical-align:middle;
}
.tip span{
	position:absolute;
	width:100%;
	top:20px;
	left:0px;
}
